@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/PixelFont.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(to right, #2d2be4, #a22ffd);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    position: relative; 
    width: 100%;
    padding: 100px 100px;
    z-index: 100;
}


.back-arrow {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

.tutorial-container {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    max-width: 1200px; 
    padding: 40px;
    border-radius: 15px;
    border-style: dotted;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.tutorial-container h1 {
    font-family: PixelFont;
    font-size: 2rem;
    text-decoration: underline;
}

.tutorial-container p {
    font-size: 1.25rem;
}

.big-letter {
    font-size: 1em;
    font-weight: bold; 
    color: #fff; 
}

.tutorial-animation {
    font-size: 2rem;
    display: flex;
    gap: 10px;
}

.tutorial-text {
    opacity: 0; 
    animation: tutorialText 5s ease-in-out infinite;
    padding-left: 210px; 
}

@keyframes tutorialText {
    0% { opacity: 0; transform: translateY(20px); } 
    20% { opacity: 1; transform: translateY(0); } 
    80% { opacity: 1; transform: translateY(0); } 
    100% { opacity: 0; transform: translateY(-20px); } 
}

.tutorial-text:nth-child(1) {
    animation-delay: 0s;
}

.tutorial-text:nth-child(2) {
    animation-delay: 0.5s;
}

.tutorial-text:nth-child(3) {
    animation-delay: 1s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    padding: 50px 20px;
    margin-top: -125px;
}

.cipher-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px; 
    border-radius: 15px;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(50px, auto); 
    gap: 15px; 
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 375px;
    height: 650px;
}

.letter-pair {
    display: flex;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    font-family: PixelFont;
}

.letter {
    font-size: 1.2rem;
    color: #fff;
    width: 20px;
    text-align: center;
}

.cipher-input {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.text-container {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 775px;
    height: 650px;

}

