@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/PixelFont.ttf') format('truetype');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    background: linear-gradient(to right, #3127e9, #ac38ff);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PixelFont, Arial, Helvetica, sans-serif;
    font-size: 2rem; 
    color: white; 
    position: relative;
    padding-top: 200px;
    margin-bottom: -200px;
}

.welcome-container span {
    display: inline-block;
    animation: jump 2s infinite ease-in-out;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px);
    }
}

main {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 350px;
    border-radius: 15px;
    margin: 250px 200px 150px 200px;
    position: relative; 
    z-index: 1;
}

main::before,
main::after {
    content: '';
    position: absolute;
    height: 2px;
    background: white;
    animation: lineShrinkExpand 16s infinite ease-in-out;
    transform-origin: center; /* Adjusted to make the lines start in the middle */
}

main::before {
    top: -15px;
    left: 0;
    right: 0;
}

main::after {
    bottom: -15px;
    left: 0;
    right: 0;
}

main .vertical-line {
    position: relative;
    width: 2px;
    background: white;
    animation: verticalLineShrinkExpand 24s infinite ease-in-out;
    transform-origin: center; /* Adjusted for vertical lines */
}

main .vertical-line.left {
    top: 0;
    bottom: 0;
    left: -35px;
}

main .vertical-line.right {
    top: 0;
    bottom: 0;
    right: -35px;
}


.headline-container {
    margin-bottom: 20px;
    text-decoration: underline;
    font-family: PixelFont
}

.description-container {
    font-size: 1.9rem;
}

.menu-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    font-family: PixelFont;
}

.menu-container .btn {
    height: 75px;
    width: 400px;
    display: inline-flex;
    color: white;
    border: none;
    font-size: 2rem;
    text-align: center;
    position: relative;
    background-color: transparent;
    transition: all 0.3s ease;
}

.menu-container .btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: repeating-linear-gradient(
        to right,
        white 0,
        white 4px,
        transparent 5px,
        transparent 10px
    );
    opacity: 0;
    transition: opacity 0.3s ease, width 0.5s ease;
    width: 0%;
}

.menu-container .btn:hover::after {
    opacity: 1;
    width: 100%;
}

.menu-container .storybtn:hover {
    color: #f0f;
}

.menu-container .freeplaybtn:hover {
    color: #0f0;
}

.menu-container .myaccountbtn:hover {
    color: #ff0;
}

.logout-button {
    font-family: PixelFont;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-button:hover {
    color: red;
    border-color: red;
}

.feedback-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PixelFont, Arial, Helvetica, sans-serif;
    font-size: 2rem; 
    color: white;
    padding-top: -100px; 
    position: relative;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    margin-left: 5px;
}

.feedback-messages .alert {
    font-family: 'PixelFont';
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    width: 100%;
    text-align: center;
}

