/* Allgemeine Animationen */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0) translateX(-94.12%);
    }
    50% {
        transform: translateY(-5vh) translateX(-94.12%);
    }
}

@keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-95%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes increase {
    from {
        margin-top: 9vh;
        width: 60vh;
        height: auto;
    }
    to {
        margin-top: vh;
        width: 120vh;
        height: auto;
    }
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5vh);
    }
}

@keyframes slideright {
    0% {
        margin-left: vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
    100% {
        margin-left: 27vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
}

@keyframes slideright2 {
    0% {
        margin-left: vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
    100% {
        margin-left: 55vh;
        margin-right: 325px;
        width: 120vh;
        height: auto;
    }
}

@keyframes slideright3 {
    0% {
        margin-left: vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
    100% {
        margin-left: 45vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
}

@keyframes decrease {
    from {
        margin-top: vh;
        width: 120vh;
        height: auto;
    }
    to {
        margin-top: 35vh;
        width: 60vh;
        height: auto;
    }
}

@keyframes bounce3 {
    0%, 100% {
        margin-top: vh;
    }
    50% {
        margin-top: -5vh;
    }
}

@keyframes bounce4 {
    0%, 100% {
        margin-top: 35vh;
    }
    50% {
        margin-top: 30vh;
    }
}

@keyframes slideleft {
    0% {
        margin-left: 30vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
    100% {
        margin-left: vh;
        margin-right: 40vh;
        width: 120vh;
        height: auto;
    }
}

@keyframes flyleftdiasappear {
    0% {
        margin-left: 55vh;
        margin-top: 35vh;
    }
    100% {
        margin-top: 25vh;
        margin-left: 15vh;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Klassen für Hover-Effekte */
.hoverindoorclickable {
    position: absolute;
    margin-left: 13vh;
    margin-right: 40vh;
    margin-top: 9vh;
    width: 60vh;
    height: auto;
    animation: bounce 4s infinite;
}

.hoverindoorclickable:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.hoverinthecentre {
    position: absolute;
    margin-left: 114vh;
    margin-right: 40vh;
    margin-top: vh;
    width: 120vh;
    height: auto;
    animation: bounce 4s infinite;
    user-select: none;
    pointer-events: none;
}

.hoverinthecentreappear {
    position: absolute;
    margin-left: 114vh;
    margin-right: 40vh;
    margin-top: vh;
    width: 120vh;
    height: auto;
    animation: bounce 4s infinite, fadeInSlow 3s ease-in forwards;
}

.hoverinthecentreclickableappear {
    position: absolute;
    margin-left: 114vh;
    margin-right: 40vh;
    margin-top: vh;
    width: 120vh;
    height: auto;
    animation: bounce 4s infinite, fadeInSlow 4s ease-in forwards;
}

.hoverinthecentreclickableappear:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.hoverinthecenterdisappear {
    position: absolute;
    margin-left: 114vh;
    margin-right: 40vh;
    margin-top: vh;
    width: 120vh;
    height: auto;
    animation: bounce 4s infinite, fadeOut 1s ease-in forwards;
    user-select: none;
    pointer-events: none;
}

/* Animationen für Bewegungen */
.flyfromdoortomiddlepart {
    position: absolute;
    margin-left: 13vh;
    margin-right: 40vh;
    animation: slideIn 3.9s ease-out forwards, increase 3.9s ease-out forwards;
}

.moveright {
    position: absolute;
    animation: slideright 1.5s ease-out forwards;
}

.moveright2 {
    position: absolute;
    animation: slideright2 2s ease-out forwards, decrease 2s ease-out forwards;
}

.moveright3 {
    position: absolute;
    animation: slideright3 2s ease-out forwards;
}

.moverightdisappear {
    position: absolute;
    animation: slideright3 2s ease-out forwards, fadeOut 1.5s ease-out forwards;
}

.moveleft {
    position: absolute;
    transform: scaleX(-1);
    animation: slideleft 1.5s ease-out forwards;
}

.moveleft2 {
    position: absolute;
    transform: scaleX(-1);
    animation: slideleft 1.5s ease-out forwards;
}

.flyleftdisappear {
    margin-right: 30vh;
    width: 60vh;
    height: auto;
    position: relative;
    transform: scaleX(-1);
    animation: flyleftdiasappear 1.5s ease-out forwards, fadeOut 1.5s ease-out forwards;
    z-index: -1;
}

/* Klassen für Spiegelungen und Bouncing */
.bouncerightmirrored {
    position: absolute;
    margin-left: 30vh;
    margin-right: 40vh;
    width: 120vh;
    height: auto;
    transform: scaleX(-1);
    animation: bounce3 4s infinite;
}

.bouncerightmirrored2 {
    margin-left: 55vh;
    margin-right: 30vh;
    margin-top: 35vh;
    width: 60vh;
    height: auto;
    position: relative;
    transform: scaleX(-1);
    animation: bounce4 4s infinite;
}

.bouncerightmirrored3 {
    position: absolute;
    margin-left: 101vh;
    margin-right: 40vh;
    margin-top: 15vh;
    width: 80vh;
    height: auto;
    transform: scaleX(-1);
    animation: bounce3 4s infinite;
}
.bouncerightmirrored4 {
    position: absolute;
    margin-left: 45vh;
    margin-right: 40vh;
    width: 120vh;
    height: auto;
    transform: scaleX(-1);
    animation: bounce3 4s infinite;
}


