@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/PixelFont.ttf') format('truetype');
}

html {
    overflow: hidden;
    height: 100%;
    background-color: black;
    background-image: url('/images/AdvancedBackground.png');
    background-size: 130%; 
    background-repeat: no-repeat; 
    background-position: calc(50% + 325px) center; 
}

.html2 {
    overflow: hidden;
    height: 100%;
    background-color: black;
    background-image: url('/images/AdvancedBackground.png');
    background-size: 130%; 
    background-repeat: no-repeat; 
    
    animation: shiftBackground 2.5s ease-in forwards; 
}
@keyframes shiftBackground {
    from {
        background-position: calc(50% + 325px) center;
    }
    to {
        background-position: calc(50% + 25px) center;
    }
}

body {  
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

header {
    position: absolute;
    top: 10px; 
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
}

.back-arrow {
    text-decoration: none;
    color: #9d9d9d;
    font-size: 2rem;
    margin-top: 90px; 
    margin-left: 90px; 
}

.back-arrow:hover {
    color: #fff;
    transform: scale(1.1);
}

.checkpoint {
    position: relative; 
    text-align: center;
    margin-right: 100px;
    color: #9d9d9d;
    flex: 1; 
    font-size: 1.2rem;
    font-family: 'PixelFont';
    animation: fadeIn 1s ease-in forwards; 
}

.help-container {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 275px;
}

.help-icon {
    font-size: 3rem;
    color: #9d9d9d;
    transition: transform 0.3s ease;
}

.help-icon:hover {
    color: #fff;
}

.help-text {
    display: none;
    position: absolute;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    font-size: 0.8rem;
    z-index: 1000;
}

.help-container:hover .help-text {
    display: block;
    color: #fff;
}

.help-container:hover .help-icon {
    transform: scale(1.1); 
}

.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 15px;
    border-radius: 15px;
    height: 80vh; 
}

.video-container {
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    height: 70vh; 
    margin-top: 100px;
}

.exampleCipher {
    margin: 200px;
    margin-left: 150px;
    margin-top: 250px;
    position: absolute;
    border-radius: 8px;
    padding: 10px;
    width: 440px;
    font-size: 3.5rem;
    font-family: 'Monaco', monospace;
    color: #fff;
    text-decoration: wavy;
}

.letter, .arrow {
    opacity: 0;
    display: inline-block;
    animation: fadeInLeft 1s ease-in forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.letter:nth-child(1), .arrow:nth-child(1) { animation-delay: 0s; }
.letter:nth-child(2), .arrow:nth-child(2) { animation-delay: 0.05s; }
.letter:nth-child(3), .arrow:nth-child(3) { animation-delay: 0.1s; }
.letter:nth-child(4), .arrow:nth-child(4) { animation-delay: 0.15s; }
.letter:nth-child(5), .arrow:nth-child(5) { animation-delay: 0.2s; }
.letter:nth-child(6), .arrow:nth-child(6) { animation-delay: 0.25s; }
.letter:nth-child(7), .arrow:nth-child(7) { animation-delay: 0.3s; }

.portal {
    position: absolute;
    pointer-events: none;
    background: url('/images/portal.gif') no-repeat center center;
    background-size: contain;
    width: 800px; 
    height: 600px; 
    border: none; 
    cursor: pointer;
    outline: none; 
    display: block; 
    cursor: pointer;
    margin-top: 135px;
    margin-left: -20px;
    animation: fadeIn 2s ease-in forwards; 
}

.portal2 {
    position: absolute;
    background: url('/images/portal.gif') no-repeat center center;
    background-size: contain;
    width: 800px; 
    height: 600px; 
    border: none; 
    cursor: pointer;
    outline: none; 
    display: block; 
    margin-top: 135px;
    margin-left: -20px;
}

.portal2:hover {
    filter: brightness(4);
}

.textbubble {
    position: relative;
    margin-top: 20px; 
    margin-left: 400px;
    margin-right: 400px;
    height: 16vh;
    border-radius: 15px;
    border: 2px solid #fff; 
    background-color: rgba(169, 169, 169, 0.3); 
    color: #fff; 
    font-size: 2rem;
    padding: 10px;
    overflow: hidden; 
    animation: fadeIn 1s ease-in forwards; 
}

.dialog-text {
    list-style-type: none;
    padding: 0;
}

.next-button {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #fff; 
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.next-button:hover {
    transform: translateY(-50%) scale(1.1); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}
