@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/PixelFont.ttf') format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    overflow: hidden;
    height: 100%;
    background-color: black;
    position: absolute;
    transform: scale(1);
    transform-origin: top left;
    width: 100vw; 
    height: 100vh;
}

html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/RomErweitertMit.png');
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: calc(50% + 0%) center;
    z-index: -1; 
    filter: blur(5px); 
    animation: fadeIn 4s ease-in forwards;
}

.html2 {
    overflow: hidden;
    height: 100%;
    background-color: black;
    position: absolute;
    transform-origin: top left;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
}

.html2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/RomErweitertMit.png');
    background-repeat: no-repeat;
    background-position: calc(50% + 0%) center;
    z-index: -1;
    animation: zoomBackground 3s ease-in forwards;
}
@keyframes zoomBackground {
    from {
        background-size: 100%;
        filter: blur(5px); 
    }
    to {
        background-size: 200%;
        filter: blur(1.5px);
    }
}

.html3 {
    overflow: hidden;
    height: 100%;
    background-color: black;
    position: absolute;
    transform-origin: top left;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
}

.html3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/RomErweitertMit.png');
    background-repeat: no-repeat;
    z-index: -1;
    animation: zoomBackground2 3s ease-in forwards;
}
@keyframes zoomBackground2 {
    from {
        background-size: 200%;
        filter: blur(1.5px);
    }
    to {
        background-size: 100%;
        filter: blur(5px);
    }
}


body {  
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

header {
    position: absolute;
    top: 10px; 
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px;
}

.back-arrow {
    text-decoration: none;
    color: #9d9d9d;
    font-size: 2rem;
    margin-top: 90px; 
    margin-left: 90px; 
}

.back-arrow:hover {
    color: #fff;
    transform: scale(1.1);
}

.checkpoint {
    position: relative; 
    text-align: center;
    margin-right: 100px;
    color: #e8e8e8;
    flex: 1; 
    font-size: 1.2rem;
    font-family: 'PixelFont';
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    animation: fadeIn 1s ease-in forwards; 
}

.help-container {
    position: absolute;
    top: 100px;
    right: 100px;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 275px;
}

.help-icon {
    font-size: 3rem;
    color: #9d9d9d;
    transition: transform 0.3s ease;
}

.help-icon:hover {
    color: #fff;
}

.help-text {
    display: none;
    position: absolute;
    top: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    font-size: 0.8rem;
    z-index: 1000;
}

.help-container:hover .help-text {
    display: block;
    color: #fff;
}

.help-container:hover .help-icon {
    transform: scale(1.1); 
}

.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    margin: 15px;
    border-radius: 15px;
    height: 80vh; 
}

.video-container {
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    height: 70vh; 
    margin-top: 100px;
}

.textbubble {
    position: relative;
    margin-top: 20px; 
    margin-left: 400px;
    margin-right: 400px;
    height: 16vh;
    border-radius: 15px;
    border: 2px solid #fff; 
    background-color: rgba(169, 169, 169, 0.3); 
    color: #fff; 
    font-size: 2rem;
    padding: 10px;
    overflow: hidden; 
    animation: fadeIn 1s ease-in forwards; 
}

.dialog-text {
    list-style-type: none;
    padding: 0;
}

.next-button {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: #fff; 
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.next-button:hover {
    transform: translateY(-50%) scale(1.1); 
}

.hidden {
    display: none;
}

.romanSalesman {
    position: absolute;
    width: 91px;
    height: auto;
    animation: fadeIn 2s ease-in forwards;
    margin-left: 194px;
    margin-top: 497px;
}
.romanSalesman:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.romanSalesman2 {
    position: absolute;
    width: 91px;
    height: auto;
    animation: fadeOut 2s ease-in forwards;
    margin-left: 194px;
    margin-top: 497px;
}

.statue {
    position: absolute;
    width: 150px;
    height: auto;
    animation: fadeIn 2s ease-in forwards;
    margin-left: 935px;
    margin-top: 345px;
}
.statue:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

.statue2 {
    position: absolute;
    width: 150px;
    height: auto;
    animation: fadeOut 2s ease-in forwards;
    margin-left: 935px;
    margin-top: 345px;
}

.video {
    position: absolute;
    margin-top: 200px;
    width: 675px;
    height: auto;
    animation: fadeIn 1s ease-in forwards;
    border-radius: 15px; 
    background-color: hsla(0, 0%, 0%, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.video2 {
    position: absolute;
    margin-top: 200px;
    width: 675px;
    height: auto;
    animation: fadeOut 1s ease-in forwards;
    border-radius: 15px; 
    background-color: hsla(0, 0%, 0%, 0.5);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
}

.testcipher {
    padding: 0;
    margin-left: -200px;
    width: 1600px; 
    height: 700px; 
    background-color: hsla(0, 0%, 0%, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 1s ease-in forwards, moveUp 2s ease-in forwards;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    border-radius: 15px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

@keyframes moveUp {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(75px);
    }
}

.disk-container {
    margin-right: 1500px;
    padding-top: 10px;
    position: absolute;
    width: 1000px;
    height: 500px;
}
  
.outer-disk {
    width: 500px;
    height: 500px;
    position: absolute;
    user-select: none;
    pointer-events: none;
}
  
.inner-disk {
    margin-top: 54px;
    margin-left: 54px;
    cursor: pointer;
    width: 393px;
    height: 393px;
    position: absolute; 
    transform-origin: center; 
    z-index: 1; 
    transition: transform 0.2s ease-out;
    user-select: none;
    pointer-events: none;
}

.notes-container {
    margin-left: 50px;
    align-items: center;
    padding: 20px;
    width: 375px;
    height: 650px;
    position: absolute;
}

.notes-text {
    color: white;
    align-items: center;
}

.notes-text h1 {
    color: white;
    font-family: PixelFont;
    font-size: 2rem;
    text-align: center;
}

.notes-letters {
    margin-top: -10px;
}

.alphabet-pair {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px 
}

.letter-pair {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
    font-family: PixelFont;
}

.letter {
    font-size: 1.2rem;
    color: #fff;
    width: 20px;
    text-align: center;
}

.cipher-input {
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.notes-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
}

.shift-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-left: 40px;
    z-index: 1;
}

.notes-buttons button {
    font-family: PixelFont;
    font-size: 0.75rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px 15px;
    border-radius: 8px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.notes-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.shift-input {
    font-family: PixelFont;
    width: 48px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    z-index: 1;
}

.testcipher p {
    padding: 20px;
    padding-bottom: 40px;
    font-size: 1.4rem;
    color: white;
    margin-top: 60px;
    text-align: justify;
}

.texttodecipher {
    margin-top: 20px;
    margin-left: 1000px;
    position: absolute;
    height: 70px;
    width: 380px;
    border-radius: 15px;
    border: 2px solid #fff;
    color: white;
    font-family: 'PixelFont';
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
}

.decipherspace {
    margin-top: 110px;
    margin-left: 1000px;
    padding: 20px;
    font-family: 'PixelFont';
    font-size: 1.5rem;
    position: absolute;
    height: 70px;
    width: 380px;
    border-radius: 15px;
    border: 2px solid #fff;
    letter-spacing: 13px;
    white-space: nowrap;
    overflow: hidden; 
}

.submitbutton {
    margin-top: 210px;
    margin-left: 1000px;
    position: absolute;
    font-family: 'PixelFont';
    height: 60px;
    width: 380px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer;
}

.submitbutton:hover {
    background-color: rgba(196, 196, 196, 0.3);
}

.result {
    position: absolute;
    height: 60px;
    width: 380px;
    font-size: 1.4rem;
    margin-left: 1000px;
    margin-top: 280px;
}

.explanation {
    position: relative;
    height: 100px;
    width: 1550px;
    margin-top: 340px;
    color: white;
}

.task {
    position: relative;
    height: 100px;
    width: 400px;
    color: white;
    margin-top: 20px;
    margin-left: 1070px;
    font-size: 1.2rem;
    font-weight: bold;
}

.portal {
    position: absolute;
    pointer-events: none;
    background: url('/images/portalblue.gif') no-repeat center center;
    background-size: contain;
    width: 1200px; 
    height: 1000px; 
    border: none; 
    cursor: pointer;
    outline: none; 
    display: block; 
    cursor: pointer;
    margin-top: -60px;
    margin-left: 600px;
    animation: fadeIn 2s ease-in forwards; 
}

.portal2 {
    position: absolute;
    background: url('/images/portalblue.gif') no-repeat center center;
    background-size: contain;
    width: 1200px; 
    height: 1000px;  
    border: none; 
    cursor: pointer;
    outline: none; 
    display: block; 
    margin-top: -60px;
    margin-left: 600px;
}

.portal2:hover {
    filter: brightness(1.5);
}
